{% extends 'base.html' %}

{% load static %}

{% block title %}Гарантія - Donatan{% endblock %}
{% block meta %}Дізнайтеся все про гарантійні умови Donatan. Ми забезпечуємо якість продукції та підтримку клієнтів на найвищому рівні.{% endblock %}

{% block og_title %}Гарантія - Donatan{% endblock %}
{% block og_description %}Детальна інформація про гарантійні умови Donatan. Ми гарантуємо якість нашої продукції та надійний сервіс.{% endblock %}


{% block og_image %}{{ request.build_absolute_uri }}{% static 'img/icons/logo/donatan-black-logo.svg' %}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}



{% block content %}
    <section class="warranty__section">
  <div class="warranty-container__warranty">
    <h1 class="h1__warranty">Гарантійні умови</h1>

    <h2 class="h2__warranty">Загальні положення</h2>
    <p>Гарантійний талон дійсний тільки за наявності правильно і чітко зазначених:</p>
    <ul class="ul__warranty">
      <li class="li__warranty">моделі,</li>
      <li class="li__warranty">дати продажу,</li>
      <li class="li__warranty">контактної інформації фірми-продавця,</li>
      <li class="li__warranty">його чіткої печатки або підпису,</li>
      <li class="li__warranty">підпису покупця.</li>
    </ul>
    <p>У разі виявлення несправності товару звертайтеся до фірми-продавця, у якої цей товар було придбано. При поверненні фірмі-продавцю товар має бути повернуто в повній комплектації. Зберігайте оригінальну упаковку.</p>
    <p>У разі виникнення гарантійного випадку зверніться безпосередньо до авторизованої точки продажу. Рішення про ремонт, надання відсутніх деталей, повернення, обмін здійснюється авторизованою точкою продажу за підсумком висновку виробника.</p>

    <h2 class="h2__warranty">Гарантія не діє</h2>
    <ul class="ul__warranty">
      <li class="li__warranty">Природного зносу, пов’язаного з експлуатацією, як-от: покришки, камери, проектори коліс, матеріали, які використовуються на рукоятках, структура та колір тканини і матеріалів, що піддаються тертю, втулки в колесах, осі, написи.</li>
      <li class="li__warranty">Пошкоджень, що виникають у результаті неналежного згідно з інструкцією використання виробу.</li>
      <li class="li__warranty">Випадку вад з причин некваліфікованого ремонту неуповноваженими особами.</li>
      <li class="li__warranty">Пошкодження, що виникли з вини покупця.</li>
      <li class="li__warranty">Вигорання тканин, що спричинене тривалою дією сонячних променів.</li>
      <li class="li__warranty">Відхилень від вертикалі окремих коліс під впливом навантаження.</li>
    </ul>

    <h2 class="h2__warranty">Умови гарантії</h2>
    <ul class="ul__warranty">
      <li class="li__warranty">Виробник надає гарантію на даний товар на термін 6 місяців з моменту покупки за умови, що візок експлуатується згідно його призначення.</li>
      <li class="li__warranty">Всі рекламації, що стосуються вад виробу, належить складати в пункті продажу.</li>
      <li class="li__warranty">Фізичні вади візка, що були виявлені в гарантійний період, усуваються безкоштовно не пізніше 21 дня з моменту доставки візка до ремонтної майстерні.</li>
      <li class="li__warranty">Виріб, що підлягає рекламації, належить повернути чистим.</li>
      <li class="li__warranty">В разі втрати гарантійного талону дублікати не видаються.</li>
    </ul>

    <p class="important__warranty">Зберігайте гарантійний талон та упаковку!</p>
  </div>
    </section>
{% endblock %}