{% load static %}

<!-- --------- Black Icon Bottom --------- -->
            <div class="floating-button">
                <div class="menu">
                    <div class="whatsapp flt-btn">
                        <a href="https://wa.me/380671931099" target="_blank">
                            <img src="{% static 'img/icons/whatsapp.svg' %}" alt="whatsapp" />
                        </a>
                    </div>
                    <div class="telegram flt-btn">
                        <a href="https://t.me/donatan_manager" target="_blank">
                            <img src="{% static 'img/icons/telegram.svg' %}" alt="telegram" />
                        </a>
                    </div>
                    <div class="viber flt-btn">
                        <a href="viber://chat?number=%2B380671931099" target="_blank">
                            <img src="{% static 'img/icons/viber.svg' %}" alt="viber" />
                        </a>
                    </div>
                </div>
                <button class="main-button">
                    <img
                        src="{% static 'img/icons/message.svg' %}"
                        alt="Message"
                        class="icon-floating icon-message"
                    />
                    <img
                        src="{% static 'img/icons/close.svg' %}"
                        alt="Close"
                        class="icon-floating icon-close"
                    />
                </button>
            </div>
<!-- --------- End Black Icon Bottom --------- -->